Language: Cpp

BasedOnStyle: WebKit
TabWidth: 4
ColumnLimit: 100
SortIncludes: true
BreakBeforeBraces: Linux
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
AllowShortLambdasOnASingleLine: Empty
