[Desktop Entry]
Type=Application
Name=Tok
Name[ca]=Tok
Name[ca@valencia]=Tok
Name[de]=Tok
Name[es]=Tok
Name[eu]=Tok
Name[nl]=Tok
Name[sk]=Tok
Name[sl]=Tok
Name[sv]=Tok
Name[uk]=Tok
Name[x-test]=xxTokxx
Exec=org.kde.Tok
Comment=Telegram client
Comment[ca]=Client de Telegram
Comment[ca@valencia]=Client de Telegram
Comment[de]=Telegram-Programm
Comment[es]=Cliente de Telegram
Comment[eu]=Telegram bezeroa
Comment[nl]=Telegram-client
Comment[sk]=Telegram klient
Comment[sl]=Odjemalec za Telegram
Comment[sv]=Telegramprogram
Comment[uk]=Клієнтська програма Telegram
Comment[x-test]=xxTelegram clientxx
Categories=Network
GenericName=Instant Messaging
GenericName[ca]=Missatgeria instantània
GenericName[ca@valencia]=Missatgeria instantània
GenericName[de]=Instant-Messaging
GenericName[es]=Mensajería instantánea
GenericName[eu]=Bat-bateko mezularitza
GenericName[nl]=Instant Messaging
GenericName[sk]=Priama komunikácia
GenericName[sl]=Neposredno sporočanje
GenericName[sv]=Direktmeddelande
GenericName[uk]=Миттєвий обмін повідомленнями
GenericName[x-test]=xxInstant Messagingxx
Icon=org.kde.Tok
