[Desktop Entry]
Type=Application
Name=Tok
Name[ca]=Tok
Name[de]=Tok
Name[es]=Tok
Name[nl]=Tok
Name[sv]=Tok
Name[uk]=Tok
Name[x-test]=xxTokxx
Exec=org.kde.Tok
Comment=Telegram client
Comment[ca]=Client de Telegram
Comment[de]=Telegram-Programm
Comment[es]=Cliente de Telegram
Comment[nl]=Telegram-client
Comment[sv]=Telegramprogram
Comment[uk]=Клієнтська програма Telegram
Comment[x-test]=xxTelegram clientxx
Categories=Network
GenericName=Instant Messaging
GenericName[ca]=Missatgeria instantània
GenericName[de]=Instant-Messaging
GenericName[es]=Mensajería instantánea
GenericName[nl]=Instant Messaging
GenericName[sv]=Direktmeddelande
GenericName[uk]=Миттєвий обмін повідомленнями
GenericName[x-test]=xxInstant Messagingxx
Icon=org.kde.Tok
